/* @import url('/css/components.css'); */
/* @import url('/css/footer.css'); */


/* .text-muted {
    color: rgba(0, 0, 0, 0.4) !important;
} */



/* animation for text */
/* .appear-invisible {
	opacity: 0;
}

.appear {
	opacity: 1;
	-webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
} */

/* h2, .h2 {
    font-weight: bold;
    font-weight: 600;
}

h4, .h4 {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 2rem;
    font-weight: 300;
    font-size: 1.3rem;
} */

h5, .h5 {
    /*font-family: 'Metropolis Semi';
    font-weight: 600;*/
    /*font-weight: 700;*/
    /* font-weight: 600; */
    /*font-size: 1.4rem;*/
}

/* .title-container {
    padding-top: 2rem;
}

.content-container {
    padding-bottom: 4rem;
} */

/* link color in articles */
/* article a {
    color: rgb(218, 109, 127);
} */
