@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,900);
@import url(http://fonts.googleapis.com/css?family=Lato:300,300italic,700,700italic);

body {
	font-family: Lato, serif;
	font-size: 2em;
	font-weight: 300;
	color: #000;
}

img {
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', sans-serif;
	letter-spacing: -0.02em;
	text-rendering: optimizeLegibility;
	font-weight: 900;
	text-transform: capitalize;
}

a, a:hover, a:active, a:focus {
	color: #000;
	text-decoration: none;
}

/* thanks medium: https://medium.com/designing-medium/crafting-link-underlines-on-medium-7c03a9274f9 */
a:hover, a:focus, a:active {
	background-image: linear-gradient(to bottom, transparent 50%, rgba(255, 207, 38, 0.5) 50%);
	background-repeat: repeat-x;
	background-size: 5% 15%;
	background-position: 0 90%;

}

p {
	line-height: 1.5em;
	margin-bottom: 1.5em;
}

.top-line {
	height: 0.5em;
	background-color: #000;
}

.header {
	border-bottom: 1px solid #eee;
	padding-bottom: 1em;
}

.footer {
	border-top: 1px dashed #aaa;
}

.header h1 {
	margin-bottom: 0.1em;
	font-size: 2em;
	font-weight: 900;
}

.container {
	padding: 10px 20px 15px 20px;
	max-width: 800px;
}

footer li {
	margin: 0.5em auto;
}

figure {
	margin-bottom: 20px;
}

figure figcaption {
	margin-top: 5px;
	font-size: 75%;
}

figure * {
	color: #aaa !important;
}

.post-list-excerpt {
	margin-bottom: 0.1em;
}

.home-page-links {
	margin-top: -15px;
}

.home-page-links li {
	margin: 15px 0px;
}

.old .fotorama-wrapper {
	padding: 15px;
}
