.container {
    clear: both;
	margin: auto;
	background: #fff;
	padding: 2rem;
	border-radius: 0.3rem;
}

.rounded-image {
	border-radius: 0.2rem;
}

.row {
    width: 100%;
    clear: both;
}

.row .column-left {
    padding: 0;
    width: auto;
    width: 100%;

    /* hack */
    min-height: 1px;
}

.row .column-right {
    width: auto;
    padding: 0;
    width: 100%;
}

@media (min-width: 76.8rem) {
    .row .column-left {
        padding-right: 1.5rem;
		padding-top: 3rem;
        padding-bottom: 3rem;
        text-align: right;
		float: left;
        width: 25%;
    }

    .row .column-right {
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 1.5rem;
		float: left;
        width: 75%;
    }

    nav.label {
        margin-top: -0.3rem;
    }

    nav.label li:last-child {
        margin-right: 0;
    }
}

.heading-row .column-left {
    padding-top: 0;
}

.heading-row .column-right {
    padding-top: 3rem;
}

.heading-row .column-left, .heading-row .column-right {
    padding-bottom: 0 !important;
}

.heading-row h5 {
    margin: 0;
}

article {
    max-width: 64rem;
}

.column-left, .column-right {
    max-width: 64rem;
	margin: auto;
}

/*.content-container,*/
.footer-container {
    margin-bottom: 6rem;
}

.footer-container {
	background: #f8f8f8;
}

