.nav-container {

}

.nav-container .row {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.nav-container .logo {
    width: 12.5rem;
    margin-top: 0.5rem;
}

.nav-container a {
    /*color: #777;*/
    color: rgba(0, 0, 0, 0.4);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 0.05rem;
}

@media (max-width: 767px) {
    .nav-container .row {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .nav-container .logo {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }
}
