---
layout: base
title: Code by Anand Doshi
heading: Code
---

{% for post in site.data.code %}
    <a class="no-decoration post-link" href="{{ post.href }}" target="_blank">
        <div class="row code-row">
            <div class="column column-left">
                <div class="bar"></div>
                <label>{{ post.title }}</label>
            </div>
            <div class="column column-right">
                <article>
                    {{ post.description | strip_html }}
                    <br><br>
                    {% if post.src %}
                    <div class="img-container">
                        <img src="{{ post.src }}" alt="" {% if post.img_style %} style="{{ post.img_style }}" {% endif %}>
                    </div>
                    {% endif %}
                </article>
            </div>
            <div class="clearfix"></div>
        </div>
    </a>
{% endfor %}
