---
layout: base
title: Code by Anand Doshi
heading: Code
---
<div class="row project-row">
    {% for post in site.data.code %}
    <div class="col-12
        {% if post.cols %} {{ post.cols }} {% else %} col-md-6 {% endif %} project-col">
        <a href="{{ post.url }}" class="no-decoration project-content">
            <div class="bar grey"></div>
            <div class="item">
                <h5>
                    {{ post.title }}
                </h5>
                <p>{{ post.description | strip_html }}</p>
                {% if post.src %}
                <img src="{{ post.src }}" alt=""
                    {% if post.img_style %}style="{{ post.img_style }}"{% endif %}>
                {% endif %}
            </div>
        </a>
    </div>
    {% endfor %}

</div>
