---
layout: base
title: Anand Doshi
heading: 'Projects'
---

<div class="row project-row">
    {% for project in site.data.featured_projects %}
    {% if forloop.index == 11 %}
    <div class="col-12 more-wrapper"><a href="" class="btn btn-outline-dark btn-block btn-more">More Projects</a></div>
    {% endif %}
    <div class="col-xl-6 project-col {% if forloop.index >= 11 %}d-none{% endif %}">
        <a href="{{ project.url }}" class="no-decoration project-content">
            <div class="item">
                <h5>
                    {{ project.title }}
                    <!-- {% if project.tag %}
                    <span class="small tag">{{ project.tag }}</span>
                    {% endif %} -->
                </h5>
                <img src="{{ project.src }}" alt="{{ project.alt }}"
                    {% if project.img_style %}style="{{ project.img_style }}"{% endif %}>
            </div>
        </a>
    </div>
    {% endfor %}

</div>

<script type="text/javascript">
    var moreBtn = document.querySelector('.project-row .btn-more');
    if (moreBtn) {
        moreBtn.onclick = function(event) {
            event.preventDefault();

            document.querySelectorAll('.project-row .d-none').forEach(function(el) {
                el.classList.remove('d-none');
            });

            document.querySelector('.project-row .more-wrapper').classList.add('d-none');
        };
    }
</script>
