---
layout: base
title: Anand Doshi
heading: ''
---

<!-- background: "#EAF9FF" -->

<div class="position: relative;">
    <img src="/assets/images/anand-doshi-design-jam.jpg" class="rounded-image" style="margin-bottom: 3rem; z-index: 1;">
    <div class="home-about-me">
        <h5>I am a<br>
            <strong>User Experience Design Student <br>
            and a Full-stack Developer </strong><br>
            based in Ann Arbor</h5>
    </div>
    <div class="clearfix"></div>
</div>
<br>

<div class="row">
    <div class="column column-left">
        <div class="bar"></div>
        <label>Featured Projects</label>
    </div>
    <div class="column column-right">
        <div class="masonry">
            {% for project in site.data.featured_projects %}
            <a href="{{ project.href }}" class="no-decoration">
                <div class="item">
                    {{ project.title }} <br><br>
                    <img src="{{ project.src }}" alt="{{ project.alt }}"
                        {% if project.img_style %}style="{{ project.img_style }}"{% endif %}>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="clearfix"></div>
</div>

{% include links.html %}

<div class="clearfix"></div>

<style>
    .masonry { /* Masonry container */
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;

        -moz-column-gap: 1.5em;
        -webkit-column-gap: 1.5em;
        column-gap: 1.5em;

        margin: 1.5em 0;
        padding: 0;
        font-size: .85em;

    }

    .masonry .item { /* Masonry bricks or child elements */
        display: inline-block;
        padding: 1em;
        margin: 0 0 1.5em;
        width: 100%;
        border: 1px solid #eee;
        border-radius: 0.3rem;
    }

    .masonry .item:hover,
    .masonry .item:active,
    .masonry .item:focus {
        background: #f8f8f8;
    }

    .masonry .item img {
        border-radius: 0.3rem;
    }

    .home-about-me {
        margin-left: 1rem;
    }

    @media (min-width: 48rem) {
        .masonry { /* Masonry container */
            -moz-column-count: 3;
            -webkit-column-count: 3;
            column-count: 3;

            -moz-column-gap: 1em;
            -webkit-column-gap: 1em;
            column-gap: 1em;
        }

        .home-about-me {
            position: relative;
            bottom: 15em;
            left: 2em;
            z-index: 10;
            background-color: rgba(0, 0, 0, 0.5);
            width: auto;
            display: inline-block;
            padding: 3rem;
            padding-bottom: 1rem;
            margin-bottom: -17em;
            float: left;
            margin-left: 0;
            border-radius: 0.2rem;
        }

        .home-about-me h5 {
            color: #fff;
        }
    }

    @media (min-width: 76.8rem) {
        .home-about-me {
            bottom: 17em;
        }
    }

    .title-container {
        display: none;
    }


</style>
