---
layout: base
title: Anand Doshi
heading: ''
---

<!-- background: "#EAF9FF" -->

<div class="row">
    <div class="column column-left">
        <div class="bar"></div>
        <label>Hi, I am Anand</label>
    </div>
    <div class="column column-right">
        <article style="margin-top: 2.3rem;">
        	<p>
                I am a first year master's student of Human-Computer Interaction at the University of Michigan, School of Information. In my 2nd semester, I am taking courses in interaction design, needs assessment and usability evaluations, designing for our senses, and wearable product development.
        	</p>
            <p>
                I am looking for internships in UX Design, for summer 2017. If you have an opening, please consider looking at my portfolio and <a href="https://dl.dropboxusercontent.com/u/29814148/toughspirit-blog-files/resume.pdf" target="_blank">resumé</a>.
            </p>
        </article>
    </div>
    <div class="clearfix"></div>
</div>


<div class="row">
    <div class="column column-left">
        <div class="bar"></div>
        <label>Featured Projects</label>
    </div>
    <div class="column column-right">
        <div class="masonry">
            {% for project in site.data.featured_projects %}
            <a href="{{ project.href }}" class="no-decoration">
                <div class="item">
                    {{ project.title }} <br><br>
                    <img src="{{ project.src }}" alt="{{ project.alt }}"
                        {% if project.img_style %}style="{{ project.img_style }}"{% endif %}>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{% include links.html %}

<style>
    .masonry { /* Masonry container */
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;

        -moz-column-gap: 1.5em;
        -webkit-column-gap: 1.5em;
        column-gap: 1.5em;

        margin: 1.5em 0;
        padding: 0;
        font-size: .85em;

    }

    .masonry .item { /* Masonry bricks or child elements */
        display: inline-block;
        padding: 1em;
        margin: 0 0 1.5em;
        width: 100%;
        border: 1px solid #eee;
        border-radius: 0.3rem;
    }

    .masonry .item:hover,
    .masonry .item:active,
    .masonry .item:focus {
        background: #f8f8f8;
    }

    .masonry .item img {
        border-radius: 0.3rem;
    }

    @media (min-width: 48rem) {
        .masonry { /* Masonry container */
            -moz-column-count: 3;
            -webkit-column-count: 3;
            column-count: 3;

            -moz-column-gap: 1em;
            -webkit-column-gap: 1em;
            column-gap: 1em;
        }
    }


</style>
