{% include postnav_condition.html %}

{% if (prev_post or next_post) %}
<div class="page-navigation">
    {% if (prev_post.url) %}
    <a class="prev strong" href="{{ prev_post.url }}">Next, {{ prev_post.title }} →</a>
    {% endif %}
    {% if next_post.url %}
    <br>
    <a class="next text-muted" href="{{ next_post.url }}">← Back, {{ next_post.title }}</a>
    {% endif %}
</div>
{% endif %}

<style media="screen">
    .page-navigation {
        text-align: right;
        margin-top: 6rem;
        margin-bottom: 3rem;
    }

    .page-navigation .next {
        padding-right: 1.6rem;
        display: inline-block;
        margin-top: 2rem;
    }

    @media (hover: hover) {
        /* based on https://css-tricks.com/touch-devices-not-judged-size/ */
        .page-navigation .next {
            margin-top: 1rem;
        }
    }
</style>
