---
layout: base
title: Photography
---
<div class="row">
    <div class="col">
        <!-- <div class="bar"></div> -->
        <!-- <h4>Selected Photos</h4> -->

        <div class="my-gallery masonry" itemscope itemtype="http://schema.org/ImageGallery">
            {% for photo in site.data.photography %}

            <!--
            {% if forloop.index == 6 %}
            <a onclick='$(".my-gallery a.hidden").removeClass("hidden"); $(this).remove();' class="more">More</a>
            {% endif %}

            {% if forloop.index > 5 %} hidden {% endif %}
             -->

            <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="item">
                <a href="{{ photo.src }}" itemprop="contentUrl" data-size="{{ photo.size }}" class="no-decoration">
                    <img src="{{ photo.thumbnail }}" itemprop="thumbnail" alt="{{ photo.description }}" />
                </a>
                <!-- <figcaption itemprop="caption description">{{ photo.description }}</figcaption> -->
            </figure>

            {% endfor %}
        </div>
    </div>
    <div class="clearfix"></div>
</div>

{% include photoswipe.html %}
