---
layout: base
title: Blog by Anand Doshi
heading: Blog
---

<div class="row project-row">
    {% for post in site.categories['blog'] %}
    <div class="col-12
        {% if post.cols %} {{ post.cols }} {% else %} col-md-6 col-lg-4 {% endif %} project-col">
        <a href="{{ post.url }}" class="no-decoration project-content">
            <div class="bar grey"></div>
            <div class="item">
                <h5>
                    {{ post.title }}
                </h5>
                <p>{{ post.excerpt | strip_html }}</p>
                <span class="text-muted small tag">{{ post.date | date_to_long_string }}</span><br><br>
                {% if post.src %}
                <img src="{{ post.src }}" alt=""
                    {% if post.img_style %}style="{{ post.img_style }}"{% endif %}>
                {% endif %}
            </div>
        </a>
    </div>
    {% endfor %}

</div>

<style media="screen">
    .project-col img {
        max-height: 30vh;
    }
</style>
