---
layout: base
title: Portfolio of Anand Doshi
heading: Design
---

{% for post in site.categories['portfolio'] %}
    <a class="no-decoration post-link" href="{{ post.url }}">
        <div class="row">
            <div class="column column-left">
                <div class="bar"></div>
                <label>{{ post.title }}</label>
            </div>
            <div class="column column-right">
                {{ post.excerpt | strip_html }}
                <br>
                <span class="text-muted small">{{ post.date | date_to_long_string }}</span><br><br>
                {% if post.src %}
                <div class="img-container">
                    <img src="{{ post.src }}" alt="" {% if post.img_style %} style="{{ post.img_style }}" {% endif %}>
                </div>
                {% endif %}

            </div>
            <div class="clearfix"></div>
        </div>
    </a>
{% endfor %}
