<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/font-awesome.css">
	<link rel="stylesheet" href="/css/fonts/leaguespartan/stylesheet.css">
	<link rel="stylesheet" href="/css/fotorama.css">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}"
	      href="http://toughspirit.in/feed.xml">
	<title>{{ page.title }}</title>
	{% if page.date %}
	<meta http-equiv="date" content="{{ page.date | date_to_rfc822 }}" />
	{% endif %}
	{% if page.excerpt %}
	<meta name="description" content="{{ page.excerpt | strip_html }}" />
	{% endif %}
</head>
<body>
	<header>
		<div class="top-line"></div>
		<div class="header">
			<div class="container">
				<h1><a href="/">Anand Doshi</a></h1>
				<span>generalist; programmer, front-end developer, system administrator, finisher</span>
			</div>
		</div>
		</div>
	</header>

	<div class="container">
		{{ content }}
	</div>

	<footer>
		<div class="footer">
			<div class="container">
				<ul class="list-unstyled">
					<li>Copyright (c) 2016 Anand Doshi</li>
					<li><hr></li>
					<li><i class="icon-twitter icon-fixed-width"></i> <a href="https://twitter.com/anandpdoshi" target="_blank">@anandpdoshi</a></li>
					<li><i class="icon-github icon-fixed-width"></i> <a href="https://github.com/anandpdoshi" target="_blank">github.com/anandpdoshi</li>
					<li><i class="icon-code-fork icon-fixed-width"></i> <a href="https://github.com/anandpdoshi/anandpdoshi.github.io" target="_blank">fork this on github</a></li>
				</ul>
			</div>
		</div>
	</footer>

	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/fotorama.js"></script>
</body>
</html>
