---
layout: base
---
<div class="row">
    <div class="column column-left">
        <div class="bar"></div>
        <label>{{ page.date | date: "%B %Y" }}</label>
        {% if page.sidebar %}
        <br>
        <p class="text-muted">
            {{ page.sidebar | strip_html }}
        </p>
        {% endif %}
    </div>
    <div class="column column-right">
        <article class="portfolio">
        	<p>
        	{{ content }}
        	</p>
        </article>
    </div>
    <div class="clearfix"></div>
</div>



