---
layout: base
---
<div class="row">
    <div class="col">
        <!-- <div class="bar"></div> -->
        <!-- <span class="text-muted small">{{ page.date | date: "%B %Y" }}</span> -->
        <!-- {% if page.sidebar %}
        <br>
        <p class="text-muted">
            {{ page.sidebar | strip_html }}
        </p>
        {% endif %} -->

        <article class="portfolio">
        	{{ content }}
        </article>

        <script type="text/javascript">
            console.log("{{ page.previous.url }}");
            console.log("{{ page.next.url }}");
            console.log("");
        </script>
    </div>
</div>

{% include postnav.html %}
