---
layout: base
---
<!-- <small class="breadcrumb text-muted"><a href="/portfolio" style="border-bottom: none;">&lt; Portfolio</a></small> -->

<div class="row">
    <div class="column column-left">
        <div class="bar"></div>
        <label>{{ page.date | date_to_long_string }}</label>
		{% if page.xpost %}
		from {{ page.xpost }}
		{% endif %}
    </div>
    <div class="column column-right">
        <article class="portfolio">
        	<p>
        	{{ content }}
        	</p>
        </article>
    </div>
    <div class="clearfix"></div>
</div>
